<h2>事件清单管理--后台</h2>

<div class="pull-right">
  <%= link_to("Add a event", new_admin_event_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-bordered">
  <% @events.each do |event| %>
  <tr>
    <td>
      <%= render_admin_event_status(event) %>
      <%= link_to(event.title, admin_event_path(event)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_event_path(event)) %>
      <%= link_to("Destroy", admin_event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" }) %>

      <% if event.is_hidden %>
        <%= link_to("显示", publish_admin_event_path(event), :method => :post, :class => "btn btn-xs btn-success") %>
      <% else %>
        <%= link_to("隐藏", hide_admin_event_path(event), :method => :post, :class => "btn btn-xs btn-danger") %>
      <% end %>
    </td>
    <td>
      <%= event.created_at %>
    </td>
  </tr>
  <% end %>
</table>
