

<div class="col-md-12">
  <div class="pull-right">
    <%= link_to("新增一个事件", new_event_path, :class => "btn btn-primary" ) %>
  </div>
  
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照发表时间排序", account_events_path ) %>
        </li>
    </ul>
  </div>

  <h2 class="text-center"> 我创建的事件 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 事件名称 </th>
        <th> 重要紧急程度 </th>
        <th> 执行方法 </th>
        <th> 执行动作</th>
        <th> 创建时间 </th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td> # </td>
          <td>
            <%= render_account_event_status(event) %>
            <%= link_to(event.title, account_event_path(event)) %>
          </td>
          <td><%= event.important_class %></td>
          <td><%= event.executive_method %></td>
          <td>
            <% if current_user && current_user == event.user %>
              <%= link_to("编辑", edit_account_event_path(event)) %> |
              <%= link_to("删除", account_event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" }) %>

              <% if event.is_hidden %>
                <%= link_to("显示", publish_account_event_path(event), :method => :post, :class => "btn btn-xs btn-success") %>
              <% else %>
                <%= link_to("隐藏", hide_account_event_path(event), :method => :post, :class => "btn btn-xs btn-danger") %>
              <% end %>

            <% end %>
          </td>

          <td>
            <%= event.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
