<div class="group">
  <% if current_user && current_user == @event.user %>
    <%= link_to("编辑", edit_event_path(@event), class: "btn btn-primary pull-right")%>
  <% end %>
</div>

<h1> <%= @event.title %> </h1>

<p>
  <%= simple_format(@event.description) %>
  <h6> 重要紧急程度 ：<%= @event.important_class %> </h6>
  <h6> 执行方法 ：<%= @event.executive_method %> </h6>
  <h6> 事件截止日期 ：<%= @event.endtime %> </h6>
</p>
